@import '../../base.scss';

/* Element
 ------------------------------------------------------------ */

.SelectSearch {
	background: $secondaryBackgroundColor;
	margin-bottom: $primaryMargin;

	.SelectSearch-input {
		display: flex;
		font-size: $primaryFontSize;
		
		padding: $primaryPadding--xxs 0;
		border: 0;
		border-radius: 3px;
		box-sizing: border-box;
		width: 314px;
		background: transparent;
		border: 1px solid $secondaryBorderColor;
		padding: $primaryPadding $primaryPadding $primaryPadding $primaryPadding--xl;
		outline: none;
		&:focus {
			border-color: $primaryColor;
		}

		.Icon--search {
			top: $primaryMargin--xxs;
		}

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $secondaryTextColor;
			opacity: 1; /* Firefox */
		}
	}

	
	background-image: url('../../search.svg');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 20px;

}