@import '../../base.scss';


$select-borderRadius: $secondaryBorderRadius;

/* Mixins
 ------------------------------------------------------------ */

 @mixin makeModifier($color) {
	.SelectOption--parent {
		> .SelectOption-item:hover {
			background: fade($color, 15%);
		}
	}

	.SelectOption--child {
		> .SelectOption-item:hover{
			background: fade($color, 15%);
		}

		&.is-selected {
			> .SelectOption-item {
				background: fade($color, 15%);
			}
		}
	}

	.SelectOption.is-expanded {		
		> .SelectOption-item {
			background: $color;
			color: #fff;

			.Icon {
				color: #fff;
				border-color: #fff;
			}

			&:after {
				color: #fff;
			}
		}

		> .SelectOption-children {
			background: fade($color, 5%);

			.SelectOption-item {
				border-bottom: 1px solid #fff;
			}

			.SelectOption-item:hover {
				background: fade($color, 15%);
			}
		}
	}

	.SelectOption-item:after {
		color: $color;
	}

	.SelectOption--clickable {
		&.is-expanded.SelectOption--parent {
			> .SelectOption-item {
				&:focus, &:hover {
					color: #fff;
				}

				.Checkbox:hover {
					.Checkbox-text {
						color: #fff;
					}
				}
			}
		}
	}

	&.is-open {
		.SelectPlaceholder {
			border-color: $color;
		}

		.Select-content {			
			border-color: $color;
		}
	}
}

@mixin makeSizeModifier($fontSize, $childFontSize, $bottomPosition: $fontSize) {
	font-size: $fontSize;

	.SelectOption--parent {
		.Checkbox-text {
			font-size: $fontSize;
		}
	}

	.SelectOption--child {
		font-size: $childFontSize;

		.Checkbox-text {
			font-size: $childFontSize;
		}
	}

	&.Select--bottomUp {
		.Select-content {
			bottom: $bottomPosition - 2px;
		}

		&.Select--floating {
			.Select-content {
				bottom: $fontSize * 2;
			}
		}
	}

	&-search .Input.SelectSearch-input .Input-input {
		font-size: $fontSize;
	}
}

/* Element
 ------------------------------------------------------------ */

.Select {
	display:  flex;
	flex-direction: column;
	color:    $primaryTextColor;
	text-align: left;
	box-sizing: border-box;

	@include makeSizeModifier($primaryFontSize, $primaryFontSize--sm, $elementLineHeight);

	&-names {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: $primaryMargin -$primaryMargin--xs;

		.SelectedValue {
			margin: $primaryMargin--xxs $primaryMargin--sm;
		}
	}

	&.is-open {
		.SelectPlaceholder {
			position: relative;
			z-index: 101;
			border-color: $primaryColor;
		}

		.Select-content {			
			border-color: $primaryColor;
			//border-radius: 0 0 $select-borderRadius $select-borderRadius;
		}
	}
}


/* Descendants
------------------------------------------------------------ */

.Select-noResults {
	padding: $primaryPadding--sm $primaryPadding--lg;
	line-height: $elementLineHeight--sm;
	font-style: italic;
	opacity: 0.5;
}

.Select-container {
	position: relative;
}

.Select-content {
	position: 		  relative;
	width:            314px;
	border-radius:    $select-borderRadius;
	background-color: $primaryBackgroundColor;
	box-sizing: 	  border-box;
	border:           $primaryBorderWidth solid $primaryBorderColor;
	z-index:          100;
	top: 			  -2px;
	box-shadow: 	  0 6px 10px 0 rgba(0,0,0,0.15);
}

.Select-options {
	max-height:       240px;
	overflow-y:       auto;

	&--hidden {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

/* Modifiers
 ------------------------------------------------------------ */

.Select {
	&--xs, &--sm {
		@include makeSizeModifier($primaryFontSize--sm, $primaryFontSize--xs, $elementLineHeight--sm);

		&.Select--floating {
			.SelectOption-item {
				padding: $primaryPadding--sm;
			}

			.SelectOption--icon {
				.SelectOption--child {
					.SelectOption-item {
						padding-left: $primaryPadding;
					}
				}
			}
		}
	}

	&--lg { @include makeSizeModifier($primaryFontSize, $primaryFontSize--sm, $elementLineHeight--lg); }
	&--xl { @include makeSizeModifier($primaryFontSize, $primaryFontSize--sm, $elementLineHeight--xl); }

	&--primary { @include makeModifier($primaryColor); }

	&--secondary { 
		@include makeModifier($secondaryColor);

		.SelectOption-item:hover {
			background: $secondaryBackgroundColor;
		}
	}

	&--block {
		width: 100%;
	}

	&--inside {
		.Select-names {
			margin: 0;
			padding: $primaryPadding--xs $primaryPadding--sm;
			border-bottom: 1px solid $primaryBorderColor;
		}
	}
}

.Select--bottomUp {
	.Select-content {
		top: auto;
		bottom: $primaryLineHeight;
	}

	&.is-open {
		.Select-content {
			box-shadow: 0 -6px 10px 0 rgba(0,0,0,0.15);
			border-radius: $select-borderRadius;
		}
	}
}

