@import '../../base.scss';

.SelectOption {
    
    margin: 0 $primaryMargin--sm;

    &-item, &-label {
        box-sizing: border-box;
    }

    &-item {
        padding: 0 $primaryPadding;
        
        cursor: pointer;

        > .SelectOption-label {
            margin: $primaryMargin--sm 0;
            padding: $primaryPadding--sm $primaryPadding--sm;
        }

        .SelectOption-name {
            margin-bottom: $primaryMargin--xs;
        }

        .SelectOption-email {
            font-size: $primaryFontSize--sm;
            color: $secondaryTextColor;
        }
    }
}

/* States
 ------------------------------------------------------------ */

 .SelectOption {
    &.is-selected {
        border-radius: $primaryBorderRadius;
        background: $secondaryColor;
    }

    &:hover {
        border-radius: $primaryBorderRadius;
        background: $secondaryBackgroundColor;
	}
}