@import '../../base.scss';

.OptionList, .EmptyList {
    list-style: none;
    padding: $primaryPadding--sm;
    margin: 0;
    border-radius: $primaryBorderRadius;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.12);

    &-empty {
        padding: $primaryPadding;
        font-style: italic;
    }

}