@import '../../base.scss';

.OptionItem {
     
    padding: $primaryPadding--sm;
    border-radius: $primaryBorderRadius;
    cursor: pointer;
    &:hover, &:focus {
        background: $secondaryBackgroundColor;
        outline: 0;
    }

    &-email {
        color: $secondaryTextColor;
    }
    
}