@import "../../base.scss";

.elementToFadeInAndOut {
    width: 200px;
    height: 200px;
    background: red;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.Select {
    margin-top: $primaryMargin--lg;

    &-display {
        -webkit-animation: fadeinout 3s ease-in-out forwards;
        animation: fadeinout 3s ease-in-out forwards;

        font-style: normal;
        
    }
}
