.App {
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  .small {
    font-size: 13px;
    color: #444;
    margin-top: -10px;
  }
}

.App-header {
  text-align: center;
}