
$primaryColor: #2823FB;
$primaryBackgroundColor: #fff;
$secondaryBackgroundColor: #F3F7FF;
$secondaryColor: #F3F7FF;

$primaryTextColor: #474747;
$secondaryTextColor: #98A4C5;

$primaryFontSize: 16px;
$primaryFontSize--xs: 10px;
$primaryFontSize--sm: 14px;
$primaryFontSize--lg: 16px;
$primaryFontSize--xl: 20px;

$primaryBorderColor: #2823FB;
$secondaryBorderColor: #D5E0FF;

$primaryMargin: 16px;
$primaryMargin--xxs: $primaryMargin / 4;
$primaryMargin--xs: $primaryMargin / 3;
$primaryMargin--sm: $primaryMargin / 2;
$primaryMargin--lg: $primaryMargin * 2;
$primaryMargin--xl: $primaryMargin * 3;
$primaryMargin--xxl: $primaryMargin * 4;

$primaryPadding: 16px;
$primaryPadding--xxs: $primaryPadding / 4;
$primaryPadding--xs: $primaryPadding / 3;
$primaryPadding--sm: $primaryPadding / 2;
$primaryPadding--lg: $primaryPadding * 2;
$primaryPadding--xl: $primaryPadding * 3;
$primaryPadding--xxl: $primaryPadding * 4;

$primaryBorderWidth: 1px;

$primaryBorderRadius: 3px;
$secondaryBorderRadius: 3px;

$primaryLineHeight: 24px;

$elementLineHeight--xxs: 30px;
$elementLineHeight--xs: 36px;
$elementLineHeight--sm: 42px;
$elementLineHeight: 48px;
$elementLineHeight--lg: 54px;
$elementLineHeight--xl: 60px;